@import 'src/styles/vars';


@media screen and (min-width:480px) {
  .navBar {
    display: flex;
    background-color: $color1; 
    justify-content: flex-end;
    color: $color4;
    }
}
@media screen and (max-width:480px) {
  .navBar {
    display: none;
  }
}


@media screen and (min-width:0px ) and (max-width:480px) {
  .mobile {
  display: flex;
  background-color: $color1; 
  justify-content: flex-end;
  color: $color4;
  }
}

@media screen and (min-width:481px) {
  .mobile {
     display: none;
    }
}

.MuiSvgIcon-root {
  margin-right: 25px;
}
