@import 'src/styles/vars';

.event {
  min-height: 100px;

  & img {
    width: auto;
    max-height: 300px;
  }
}

.center {
  text-align: center;
}

.next-event-box {
  background-color: #ffffff;
  margin: 15px 0;
  border-radius: 8px;
}

.homepage-nextevent {
  font-size: 2em;
  padding: 0.3em;
  margin-top: 0.5em;
  text-decoration: overline $color2;
  background-color: $color2;
  color: #ffffff;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
  border-radius: 12px;
}
