@import 'src/styles/vars';


 

.event-calendar {
  //border: 1px solid black;
  background-color: $color4;
  text-align: center; 
  border-radius: 10px;
  padding: 0.3em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
  min-width: 100px;
  max-width: 150px;
  // height: 100%;
  
}

.resaEvent {
  padding: 0.8em;
  margin: 1em;
  color: white;
  background-color: $color1; 
  font-size: 1em;
  min-height: 30vh;  
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
 
}
