@import 'src/styles/vars';

.who {
  width: 100%;
  
 h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom:1em;
  }
  &-role{
    text-align: center;
  }
  &-trombi {
    display: flex; 
    justify-content: space-around;
  }
}

.member-card {
  max-width : 10em;
  margin-top: 1em;

  h3{
    text-align: center;
    text-transform: uppercase;
  }
  
}
