.profile {
  min-height: 100vh;
  flex-Grow: 1;
  width: 100%;
  background-color: white;
 }

 .profile_pdf {
  display: flex;
  padding-top: 2em;
  align-items: center;

&_image {
  width: 50px;
  padding: 1em;
}
}

.profile_image {
  width: 100%;
}


