@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  height: 100vh;
  background-image: url("https://isostatic.ovh/happychilds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button {
  color: #ffffff !important;
}

.progress {
  display: block;
  height: 150px;
  margin: 0 auto;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.cpcenter {
  padding: 100px;
  text-align: center;
}

strong {
  font-weight: bolder;

}

.whitebox {
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 8px;
 // margin: 15px 0 !important;
  padding: 15px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 8px 0;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0;
}

form {
  // margin: 0 auto;
  text-align: left;

  // & .MuiInput-root {
  //   margin: 50px 0;
  // }

  & .MuiInput-input {
    width: 100%;
  }
}

.MuiFormControl-root {
  display: flex !important;
}
